<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="JS/Angular.js"></script>
</head>

<body ng-app="myApp" ng-controller="todoCtrl">

    <H1>My Todo List</H1>

    <form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
        <input type="submit" value="Add New">
    </form>

    <br>

    <div ng-repeat="x in todoList">
        <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
    </div>

    <p><button ng-click="remove()">Removed Marked</button></p>
    
<script>

    var app = angular.module('myApp', []);
    app.controller('todoCtrl', function($scope){

        $scope.todoList = [{todoText:'Clean Bedroom', done:false}];

        $scope.todoAdd = function() {

            $scope.todoList.push({todoText:$scope.todoInput, done:false});
            $scope.todoInput = "";

        };

        $scope.remove = function() {

            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(x) {
                if (!x.done) $scope.todoList.push(x);
            });

        };
            

    });

</script>

</body>
</html>